<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.myStore.UtilityPackage.ExtentListner"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="com.myStore.testCases.TC_AccountPageTest"/>-->
      <!--<class name="com.myStore.testCases.TC_AccountCreation"/>-->
      <class name="com.myStore.testCases.TC_ProductSearch"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
